.info-div {
    padding: 10px;
    border: 2px solid rgb(6, 189, 235);
    margin: 10px;
    width: 300px;
    height: 200px;
    
}


.main-div {
     display: flex;
     flex-wrap: wrap;
      
}

@media only screen and (max-width: 800px) {
    .main-div {
        display:grid;
         grid-template-columns: 1fr;
        align-items: center;
    }
}