.main-order-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

    /* flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly; */
}

.orders-div {
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

@media screen and (max-width: 916px) {
    .main-order-container {
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;

        /* flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly; */
    }
}